.list__button {
  top: 5px;
  left: 5px;
}

.drawer__heading {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.drawer__heading > *,
.drawer__heading-paper > * {
  margin: 0;
}

.drawer__heading-paper {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.drawer__heading-text {
  display: contents;
}
